header
  display: inline
  margin: auto
  width: 90%



section
  display: block
  margin: 0 0 0 0
  padding: 0 0 0 0

h1
  font-family: $h1-font
  font-size: $h1-size

h2
  font-family: $h2-font
  font-size: $h2-size
p
  font-family: $p-font
  font-size: $p-size

strong
  font-family: $strong-font
  font-size: $strong-size

em
  font-family: $em-font
  font-size: $em-size
