$h1-font: MyriadPro-Bold
$h1-size : 52px
$h1-text-transform: uppercase // Titre 1 //

$h2-font: MyriadPro-bold
$h2-size: 35px // Sous-titre //

$p-font: MyriadPro-Regular
$p-size: 27px  // texte courant //

$strong-font: MyriadPro-Bold
$strong-size: 27px  // texte courant bold //

$em-font: MyriadPro-It
$em-size: 27px  // texte courant italique //





@font-face
  font-family: $h1-font
  src: url('../fonts/'+$h1-font+'.otf') format('opentype')

@font-face
  font-family: $h2-font
  src: url('../fonts/'+$h2-font+'.otf') format('opentype')

@font-face
  font-family: $p-font
  src: url('../fonts/'+$p-font+'.otf') format('opentype')

@font-face
  font-family: $em-font
  src: url('../fonts/'+$em-font+'.otf') format('opentype')

@font-face
  font-family: $strong-font
  src: url('../fonts/'+$strong-font+'.otf') format('opentype')
